@use "sass:map";
@use "sass:meta";

@use "~@angular/material" as mat;

$_ripple-opacity: 0.1;

@mixin custom_theme($theme) {
	$primary: map.get($theme, primary);
	$accent: map.get($theme, accent);
	$warn: map.get($theme, warn);
	$info: map.get($theme, info);
	$success: map.get($theme, success);
	$warning: map.get($theme, warning);
	$danger: map.get($theme, danger);
	$background: map.get($theme, background);
	$foreground: map.get($theme, foreground);

	.mat-button-toggle:not(.mat-button-toggle-checked) {
		@include _theme-property($theme, "color", text);
		@include _focus-overlay-color($theme);
	}

	.mat-button-toggle.mat-button-toggle-checked {
		&.mat-primary,
		&.mat-accent,
		&.mat-warn,
		&.mat-info,
		&.mat-success,
		&.mat-warning,
		&.mat-danger {
			color: mat.get-color-from-palette($foreground, text);
			background-color: mat.get-color-from-palette($background, raised-button);

			@include _theme-property($theme, "color", default-contrast);
			@include _theme-property($theme, "background-color", default);
			@include _ripple-color($theme, default-contrast);
		}
		//:not(.mat-primary, .mat-accent, .mat-warn, .mat-info, .mat-success, .mat-warning, .mat-danger) {
		// Default font and background color when not using any color palette.
	}
}

@mixin _focus-overlay-color($theme) {
	$primary: map.get($theme, primary);
	$accent: map.get($theme, accent);
	$warn: map.get($theme, warn);
	$info: map.get($theme, info);
	$success: map.get($theme, success);
	$warning: map.get($theme, warning);
	$danger: map.get($theme, danger);

	&.mat-primary .mat-button-toggle-focus-overlay {
		background-color: mat.get-color-from-palette($primary);
	}

	&.mat-accent .mat-button-toggle-focus-overlay {
		background-color: mat.get-color-from-palette($accent);
	}

	&.mat-warn .mat-button-toggle-focus-overlay {
		background-color: mat.get-color-from-palette($warn);
	}

	&.mat-info .mat-button-toggle-focus-overlay {
		background-color: mat.get-color-from-palette($info);
	}

	&.mat-success .mat-button-toggle-focus-overlay {
		background-color: mat.get-color-from-palette($success);
	}

	&.mat-warning .mat-button-toggle-focus-overlay {
		background-color: mat.get-color-from-palette($warning);
	}

	&.mat-danger .mat-button-toggle-focus-overlay {
		background-color: mat.get-color-from-palette($danger);
	}
}

@mixin _ripple-background($palette, $hue, $opacity) {
	$background-color: mat.get-color-from-palette($palette, $hue, $opacity);
	background-color: $background-color;
	@if (meta.type-of($background-color) != color) {
		opacity: $opacity;
	}
}

@mixin _ripple-color($theme, $hue, $opacity: $_ripple-opacity) {
	$primary: map.get($theme, primary);
	$accent: map.get($theme, accent);
	$warn: map.get($theme, warn);
	$info: map.get($theme, info);
	$success: map.get($theme, success);
	$warning: map.get($theme, warning);
	$danger: map.get($theme, danger);

	&.mat-primary .mat-ripple-element {
		@include _ripple-background($primary, $hue, $opacity);
	}

	&.mat-accent .mat-ripple-element {
		@include _ripple-background($accent, $hue, $opacity);
	}

	&.mat-warn .mat-ripple-element {
		@include _ripple-background($warn, $hue, $opacity);
	}

	&.mat-info .mat-ripple-element {
		@include _ripple-background($info, $hue, $opacity);
	}

	&.mat-success .mat-ripple-element {
		@include _ripple-background($success, $hue, $opacity);
	}

	&.mat-warning .mat-ripple-element {
		@include _ripple-background($warning, $hue, $opacity);
	}

	&.mat-danger .mat-ripple-element {
		@include _ripple-background($danger, $hue, $opacity);
	}
}

@mixin _theme-property($theme, $property, $hue) {
	$primary: map.get($theme, primary);
	$accent: map.get($theme, accent);
	$warn: map.get($theme, warn);
	$info: map.get($theme, info);
	$success: map.get($theme, success);
	$warning: map.get($theme, warning);
	$danger: map.get($theme, danger);
	$background: map.get($theme, background);
	$foreground: map.get($theme, foreground);

	&.mat-primary {
		#{$property}: mat.get-color-from-palette($primary, $hue);
	}
	&.mat-accent {
		#{$property}: mat.get-color-from-palette($accent, $hue);
	}
	&.mat-warn {
		#{$property}: mat.get-color-from-palette($warn, $hue);
	}
	&.mat-info {
		#{$property}: mat.get-color-from-palette($info, $hue);
	}
	&.mat-success {
		#{$property}: mat.get-color-from-palette($success, $hue);
	}
	&.mat-warning {
		#{$property}: mat.get-color-from-palette($warning, $hue);
	}
	&.mat-danger {
		#{$property}: mat.get-color-from-palette($danger, $hue);
	}

	&.mat-primary,
	&.mat-accent,
	&.mat-warn,
	&.mat-info,
	&.mat-success,
	&.mat-warning,
	&.mat-danger,
	&.mat-button-toggle-disabled {
		&.mat-button-toggle-disabled {
			$palette: if($property == "color", $foreground, $background);
			#{$property}: mat.get-color-from-palette($palette, disabled-button);
		}
	}
}
