.mat-table {
    .mat-header-cell {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.875);
    }

    .mat-column-actionDetails,
    .mat-column-actionUpdate,
    .mat-column-actionDelete {
        width: 1px;
        padding: 0px 2px;
        text-align: center;
    }

    tr.mat-header-row,
    tr.mat-row,
    tr.mat-footer-row {
        height: 40px !important;
    }

    tr.mat-header-row,
    tr.mat-footer-row {
        background-color: #ffffff;
    }

    tbody {
        tr.mat-row:nth-child(even) {
            background-color: #ffffff;
        }

        tr.mat-row:nth-child(odd) {
            background-color: #f9f9f9;
        }

        td button {
            line-height: 30px;

            .mat-icon {
                height: 20px;
                width: 20px;
                font-size: 20px;
                line-height: 20px;
            }
        }
    }

    tr td:last-child,
    tr th:last-child {
        text-align: right;
    }
}
